* {
    color: darkgreen;
}

h1 {
    color: red;
}
.h1{
    color: darkmagenta ;
}

#first_h2{
    color: aqua;
}
[class]{
    color: chocolate;
}
[class="p1"]{
    color: olive;
}
[class="p1"]{
    color: royalblue;
}
[class$="1"]{
    color: firebrick;
}
[class$="_1"]{
    color: gold;
}
[class~="p1"]{
    color: black;
}
p.test{
    color: black;
}
div, div p{
    font-size: 30px;
}
a, li{
    color: red;
    text-decoration: underline;
}
div ol li{
    color: darkgreen;
}
div p{
    color: gold;
 }
div p > p{
     color: darkslateblue;
}
.test > div{
    background: red;
}